*{margin: 0;padding:0;box-sizing: border-box;}
body{
	font-family: Arial;
	background-color:#eee;
}
.header{
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: navy;
	padding: 20px;
}
.header h2{
	color:#fff;
	cursor: pointer;
	font-family: cursive;
}
#menu{
	display: flex;
}
#menu li{
	list-style: none;
	padding: 0 15px 0 15px;
}
#menu li a{
	text-decoration: none;
	color:#fff;
}
@media (max-width: 767px)
{
	.header{display: none;}
}
@media (min-width: 768px)
{
	.mb-header{display: none;}
}
.mb-header{
	background-color: navy;
	color:#fff;
	width: 100%;
}
.mb-header .top-bar h2{
	font-family: cursive;
}
.top-bar{
	display: flex;
	justify-content: space-between;
	padding: 20px;
	align-items: center;
}
#mb-menu{
	display: none;
	padding-left: 20px;
	padding-right: 20px;
	animation: menu 1s;
}
#mb-menu li{
	list-style: none;
	padding: 15px 0 15px 0;
	border-bottom: 1px solid grey;
}
#mb-menu li a{
	text-decoration: none;
	color:#fff;
	font-size: 1.2rem;
}
#show{
	font-size: 1.5rem;
	cursor: pointer;
}
#hide{
	font-size: 2rem;
	display: none;
	cursor: pointer;
}

@keyframes menu{
	0%{
		transform: translateX(100%);
	}
	100%{
		transform: translateX(0);
	}
}